<launch>
    <group>
        <node pkg="armpi_servo" type="ik_action_server.py" name="ik_action_server" output="screen">
            <param name="~log_level" value="INFO" />
        </node>

        <node pkg="armpi_control" type="armpi_control" name="armpi_control_main" output="screen">
            </node>
        
        </group>
</launch>
