<launch>

    <arg name="task" default="default_task" doc="データ収集やAIのタスク名 (C++ノードの引数)" />

    <node name="imitation_service_server"
          pkg="ai_model_service"
          type="inference_server.py"
          output="screen"
          respawn="true" />

    <node name="generic_robot_controller"
          pkg="armpi_controller"
          type="armpi_controller" 
          args="$(arg task)" 
          output="screen"
          required="true"> 
          <param name="controller_type" value="ai" />
    </node>

</launch>
